<launch>
    <!-- TODO: Maybe change to something better by default? -->
    <arg name="dir" default="~" />
    <arg name="factor" default="-1" />
    <arg name="hfactor" default="$(arg factor)" />
    <arg name="wfactor" default="$(arg factor)" />
    <arg name="src" default="rear" />
    <arg name="track2d" default="/spencer/perception_internal/people_tracking/rgbd_$(arg src)_top/tracked_persons_2d" />
    <arg name="rgb" default="/spencer/sensors/rgbd_$(arg src)_top/rgb/image_raw" />
    <arg name="d" default="/spencer/sensors/rgbd_$(arg src)_top/depth/image_rect" />

    <node pkg="head_orientation" type="dump_tracks" name="dump_tracks" output="screen">
        <param name="dir" value="$(arg dir)" />
        <param name="hfactor" value="$(arg hfactor)" />
        <param name="wfactor" value="$(arg wfactor)" />
        <param name="track2d" value="$(arg track2d)" />
        <param name="rgb" value="$(arg rgb)" />
        <param name="d" value="$(arg d)" />
    </node>
</launch>
