<launch>
    <arg name="model" default="/home/kurin/spencer/biternion-net.npz" />
    <arg name="factor" default="-1" />
    <arg name="hfactor" default="0.5" />
    <arg name="wfactor" default="0.8" />
    <arg name="cam" default="rear" />
    <arg name="tra" default="/spencer/perception_internal/people_tracking/rgbd_$(arg cam)_top/tracked_persons_2d" />
    <arg name="ubd" default="/spencer/perception_internal/people_detection/rgbd_$(arg cam)_top/upper_body_detector/detections" />
    <arg name="src" default="tra" />
    <arg name="rgb" default="/spencer/sensors/rgbd_$(arg cam)_top/rgb/image_raw" />
    <arg name="d" default="/spencer/sensors/rgbd_$(arg cam)_top/depth/image_rect"/>

    <node pkg="biternion" type="predict.py" name="biternion_predict" output="screen" respawn="true">
        <param name="model" value="$(arg model)" />
        <param name="hfactor" value="$(arg hfactor)" />
        <param name="wfactor" value="$(arg wfactor)" />
        <param name="tra" value="$(arg tra)" />
        <param name="ubd" value="$(arg ubd)" />
        <param name="src" value="$(arg src)" />
        <param name="rgb" value="$(arg rgb)" />
        <param name="d" value="$(arg d)" />
    </node>
</launch>
