<launch>
    <!-- The model name corresponds to the name of the *.py files in the "models" subdirectory, without the extension. -->
    <arg name="model" default="head_50_50" />
    <!-- Full path (can use `~`) to the weights file corresponding to the model. -->
    <arg name="weights" default="$(find biternion)/models/head_50_50.npz" />
    <arg name="cam" default="rear" />
    <arg name="tra" default="/spencer/perception_internal/people_tracking/rgbd_$(arg cam)_top/tracked_persons_2d" />
    <arg name="ubd" default="/spencer/perception_internal/people_detection/rgbd_$(arg cam)_top/upper_body_detector/detections" />
    <arg name="src" default="tra" />
    <arg name="rgb" default="/spencer/sensors/rgbd_$(arg cam)_top/rgb/image_raw" />
    <arg name="d" default="/spencer/sensors/rgbd_$(arg cam)_top/depth/image_rect"/>
    <arg name="topic" default="/spencer/perception/orientations" />

    <!-- Optional for visualization purposes -->
    <arg name="tra3d" default="/spencer/perception_internal/people_tracking/rgbd_$(arg cam)_top/tracked_persons" />

    <node pkg="biternion" type="predict.py" name="biternion_predict" output="screen" respawn="false">
        <param name="model" value="$(arg model)" />
        <param name="weights" value="$(arg weights)" />
        <param name="tra" value="$(arg tra)" />
        <param name="ubd" value="$(arg ubd)" />
        <param name="src" value="$(arg src)" />
        <param name="rgb" value="$(arg rgb)" />
        <param name="d" value="$(arg d)" />
        <param name="topic" value="$(arg topic)" />
        <param name="tra3d" value="$(arg tra3d)" />
    </node>
</launch>
