<launch>
    <arg name="cam" default="rear" />
    <arg name="tra" default="/spencer/perception_internal/people_tracking/rgbd_$(arg cam)_top/tracked_persons_2d" />
    <arg name="ubd" default="/spencer/perception_internal/people_detection/rgbd_$(arg cam)_top/upper_body_detector/detections" />
    <arg name="src" default="tra" />
    <arg name="rgb" default="/spencer/sensors/rgbd_$(arg cam)_top/rgb/image_raw" />
    <arg name="d" default="/spencer/sensors/rgbd_$(arg cam)_top/depth/image_rect"/>
    <arg name="topic" default="/spencer/perception/orientations" />

    <node pkg="biternion" type="predict.py" name="biternion_head" output="screen" respawn="false">
        <param name="model" value="head_80_50" />
        <param name="weights" value="$(find biternion)/models/head_80_50.npz" />
        <param name="tra" value="$(arg tra)" />
        <param name="ubd" value="$(arg ubd)" />
        <param name="src" value="$(arg src)" />
        <param name="rgb" value="$(arg rgb)" />
        <param name="d" value="$(arg d)" />
        <param name="topic" value="$(arg topic)/head" />
    </node>

    <node pkg="biternion" type="predict.py" name="biternion_body" output="screen" respawn="false">
        <param name="model" value="body_80_200" />
        <param name="weights" value="$(find biternion)/models/body_80_200.npz" />
        <param name="tra" value="$(arg tra)" />
        <param name="ubd" value="$(arg ubd)" />
        <param name="src" value="$(arg src)" />
        <param name="rgb" value="$(arg rgb)" />
        <param name="d" value="$(arg d)" />
        <param name="topic" value="$(arg topic)/body" />
    </node>
</launch>
